@charset "utf-8";

html {
    height: 100%;
}

body {
    height: 100%;
}

/* header */
header {
    background: #3C4767;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 2.5px solid #c0c0c0;
    font-size: 17px;
}

#confirm {
    margin: 10px 10px 10px 10px;
    border-bottom: solid #666666;
    color: #666666;
    padding: 5px 5px 5px 5px;
}

#confirm p {
    padding: 5px 5px 5px 5px;
}

#confirm .btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background: #191970;
    /*ボタン色*/
    color: #ffffff;
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    margin: 0 0 0 70px;
    cursor: pointer;
}

#confirm a {
    color: #ffffff;
    font-size: 12px;
}

#search-btn {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    background: #191970;
    /*ボタン色*/
    color: #ffffff;
    border-bottom: solid 3px #627295;
    border-radius: 3px;
    margin: 0 0 0 50px;
    cursor: pointer;
}

#search-btn a {
    color: #ffffff;
    font-size: 12px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
    font-size: 50px !important;
}

.material-symbols-outlined.active {
    transform: rotate(180deg);
}

.menu-container {
    display: block;
    position: fixed;
    z-index: 2;
    transform: translateY(-100%);
    transition: .5s ease-in-out;
    height: 100vh;

}

.menu-container ul {
    display: block;
    border-bottom: solid 3px #fff;
    border: #3C4767;

}


.menu-container ul li {
    padding: 20px 20px;
    border: 1px solid #191970;
    background-color: #ffffff;
    color: #666666;
}

.menu-container ul li a.active {
    background-color: #ff0000;
    color: #ffffff;
}

.menu-container.active {
    transform: translateY(0%);
    transition: .5s ease-in-out;
}

.modal-main {
    display: none;
}

.modal-inner {
    /* ② モーダル背景を画面幅いっぱいに設定し、位置を固定する。 */
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    color: #666666;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.inner-content {
    /* ③ モーダル内の要素全体の子要素を中央揃えにする。 */
    text-align: center;
    margin: 0;
    padding: 0;
    max-width: 1024px;
}

.modal-inner img {
    /* ④ モーダル画像の幅は親要素（.modal-inner）の100%に設定。 */
    width: 10%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.inner-title {
    /* ⑤ タイトルは上下方向の他要素との間隔を調整。 */
    margin-top: 40px;
    margin-bottom: 32px;
    font-size: 2.8rem;
    font-weight: bold;
}

.inner-text {
    /* ⑥紹介文の文字サイズの設定・表示領域は70%で設定し、他要素との間隔調整。 */
    font-size: 1.6rem;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.modalClose {
    /* ⑦ カーソル設定をします。（.send-button）というお問い合わせボタンで使用したクラスを反映しているので、その他のスタイルは自動的に反映される。 */
    cursor: pointer;
}

/* icon */
.icon {
    width: 50px;
    height: 50px;
}

/* top */

h1 {
    width: 10px;
    height: 10px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;

}



.icon-menu {
    margin: 0 0 0 1000px;
    padding: 5px 5px 5px 5px;
    color: #ffffff;
}

/* index */

.tweet {
    border-bottom: 5px solid #c0c0c0;
}

.tweet .form-control {
    display: block;
    height: 20px;
    width: 700px;
    margin: -90px 0px 0px 85px;
    padding: 10px 0px 50px 0;
    text-align: left;
    border: none;
    outline: none;
}

.tweet-icon {
    margin: 30px 0px 20px 10px;
}

.btn-tweet {
    margin: -900px 10px 0 800px;
    border: none;
    outline: none;
    cursor: pointer;
}

.tweet-show {
    height: auto;
    width: 100%;
    border-bottom: 2px solid #c0c0c0;
}

#tweet-icon {
    margin: 30px 0px 30px 30px;
    padding: 0 0 0 0;
}

#name {
    margin: 0px 0px 0px -90px;

}

/* follow-list & follower-list */

.follows-container p {
    margin: 15px 15px 15px 15px;
    font-size: 25px;
    color: #666666;
}

.follow-icon {
    width: auto;
    height: auto;
    padding: 20px 30px 20px 30px;
    border-bottom: 5px solid #c0c0c0;
}

/* search */

.search-box {
    width: auto;
    height: 80px;
    border-bottom: 5px solid #c0c0c0;
}

.form-control {
    width: 250px;
    height: 30px;
    margin: 20px 20px 0 20px;
}

.btn-search {
    margin: -40px 0 20px 300px;
}

.search-table {
    margin: 20px 20px 20px 100px;
}

.search-icon {
    margin: 10px 0 10px 0;
}

.search-name {
    margin: 0px 10px 0px 10px;
}

.follows-btn1 {
    margin: 0 0 0 200px;

}

.btn-follows1 {
    background-color: #8b0000;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}

.follows-btn2 {
    margin: 0 0 0 200px;
}

.btn-follows2 {
    background-color: #6495ed;
    color: #ffffff;
    padding: 10px 30px 10px 30px;
    font-size: 12px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* anotherprofile */


/* profile */

.profile-icon {
    margin: 30px 30px 10px 150px;

}

.profile {
    display: block;
    margin: -40px 30px 30px 250px;
    color: #666666;
    font-size: 20px;
}

.profile-name {
    margin-bottom: 30px;
}

.profile-name .form-control {
    margin-left: 45px;
    font-size: 20px;
    background-color: #d3d3d3;
    border-bottom: 5px solid #708090;
    border: none;
    outline: none;
}

.profile-mail {
    margin-bottom: 30px;
}

.profile-mail .form-control {
    margin-left: 44px;
    font-size: 20px;
    background-color: #d3d3d3;
    border-bottom: 5px solid #708090;
    border: none;
    outline: none;
}

.profile-password {
    margin-bottom: 30px;
}

.profile-password .form-control {
    margin-left: 60px;
    font-size: 20px;
    background-color: #d3d3d3;
    border-bottom: 5px solid #708090;
    border: none;
    outline: none;
}

.profile-NewPassword {
    margin-bottom: 30px;
}

.profile-NewPassword .form-control {
    margin-left: 15px;
    font-size: 20px;
    background-color: #d3d3d3;
    border-bottom: 5px solid #708090;
    border: none;
    outline: none;
}

.profile-bio {
    margin-bottom: 60px;
}

.profile-bio .form-control {
    margin-left: 120px;
    font-size: 20px;
    background-color: #d3d3d3;
    border-bottom: 5px solid #708090;
    border: none;
    outline: none;
}

.profile-NewIcon {
    margin-bottom: 20px;
}


.profile-NewIcon .custom-file-input {
    margin-left: 30px;
    padding: 10px 10px 0 0;
    font-size: 20px;
    background-color: #d3d3d3;
    border-bottom: 5px solid #708090;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-profile {
    margin: 0 0 0 200px;
    padding: 5px 25px 5px 25px;
    color: #ffffff;
    background-color: #008000;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
}
